*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;    
}
 /* navbar styling */
 .navbar{
     top: 0;
     position: fixed;
     background-color: #006e80;
     width: 100%;
     display: flex;     
 }
 
 .max-width{
     width: 1300px;
     height: 80px;
     /* padding: 0px 10px; */
     margin: auto;
 }
 .navbar .max-width{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 /* .navbar .logo a{
    color: #006e80;
    display: block;
    padding: 6px;
    text-decoration: none;
    border-radius: 20px;
 } */
 .logo img{
    margin: 3px 8px;
    /* padding-left: 20px; */
    height: 70px;
    width: auto;
 }
 .navbar .menu li{
    list-style: none;
    display: inline-block;
 }
 
 .navbar .menu li a{
    color: #ffffff;
    display: block;
    padding: 6px;
    text-decoration: none;
    border-radius: 20px;  
 }
 .navbar .menu li a:hover{
    color: #006e80;
     background-color: white;     
 }
    /* *****************************MID BANNER***************************** */
#midbanner{
    height: 480px;
    width: 100vw;
    display: flex;
    flex-direction: column;    
    justify-content: center;
}
#midbanner::before{
    content: "";
    background:url(images/careerPageMidBanner.png) no-repeat center center/cover;    
    margin-top: 80px;    
    position: absolute;
    height: 400px;
    width: 100vw;
    z-index: -1;
    opacity: 0.8;    
}
#midbanner h1{    
    padding-left: 30px;
}
#midbanner ul{
    padding-left: 30px;
    display: flex;    
    list-style: none;
}
#midbanner ul li a{
    color: black;
}
 /* **************CARDS**************** */
 #expertise{
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 120px;
    
}
/* outer div */

.expertise-item{
    
    display: grid;
    grid-template-columns: repeat(6,auto);
    
    justify-content: center;
  
}
/* inner div */

.box{
    border: 0.5px solid rgb(202, 199, 199);
    margin: 4px 0px;
   

    background: center;
    margin: 4px;
    width: 200px;
    height: 200px;
    display: inline-flex;
    /* x- axis center- justify-content */
    justify-content: center;
    flex-direction: column;
    /* margin: 0px 15px; */
}
.box:hover{    
    cursor: pointer;
    color: white;
   /* background-color: black; */
    background-image: radial-gradient(#fff, black); 
    /*background-image: rgba(255, 255, 255, 0.959);*/
}
.inside-box{
    width: 100px;
    height: 10;
}

.box img{
    /* padding: 30px; */
    height: 70px;
    margin: auto;
    display: block;   
}
/* ************BUTTON************* */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button-group{
      padding-top: 35px;
      padding-left: 30vw;
  }
/* **********UTILITY CLASSES********** */
.h-secondary2{
    font-size: 15px;    
    font-weight: 300;
    padding-bottom: 40px;
}
.center{
    text-align: center;
}