
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;

}
/* navbar */
#navbar {
    display: flex;
    align-items: center;     
  
    position: relative;
    /* justify-content: space-between; */
}
/* .navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
/* logo and image */

#logo img{
    
    /* filter: invert(1); */
    margin: 3px 18px;
    padding-left: 110px;
    height: 70px;
    width: auto;
}
/* list styling */

 #navbar ul{
    display: flex;    
    list-style: none;
    font-size: 1.3rem;
    padding-left: 423px;
    }
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li a{
    color: #006e80;
    display: block;
    padding: 6px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;  
}
 #navbar ul li a:hover{
    background-color: #006e80;
    color: white;    
}

/* home section\ */
#home{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 30px 10px;
    justify-content: center;
}
#home::before{
    content: "";
    background:url(images/main_background.jpeg) no-repeat center center/cover;
    top: 0;
    left: 0;
     /* background-image:images/main_background.jpeg; */
     /* background:url(images/main_background.jpeg);
    background: cover;
    background-size: auto; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    /* display: flex; */
}
#home h1{
    padding-top: 520px;
    padding-left: 30px;
}
/* expertise section */
#expertise{
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 120px;
    
}
/* outer div */

.expertise-item{
    
    display: grid;
    grid-template-columns: repeat(6,auto);
    
    justify-content: center;
  
}
/* inner div */

.box{
    border: 0.5px solid rgb(202, 199, 199);
    margin: 4px 0px;
   

    background: center;
    margin: 4px;
    width: 200px;
    height: 200px;
    display: inline-flex;
    /* x- axis center- justify-content */
    justify-content: center;
    flex-direction: column;
    /* margin: 0px 15px; */
}
.box:hover{    
    cursor: pointer;
    color: white;
   /* background-color: black; */
    background-image: radial-gradient(#fff, black); 
    /*background-image: rgba(255, 255, 255, 0.959);*/
}
.inside-box{
    width: 100px;
    height: 10;
}

.box img{
    /* padding: 30px; */
    height: 70px;
    margin: auto;
    display: block;   
}

/* tab section ------------------------------------------------------------*/
input[type], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* box-sizing: border-box; */
  }
  /* input[type=date]{
      width: 98%;
  } */
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #3d8d41;
  }
  
  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  /* .btn {width: 100%;   
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
      } */
/* **********END BANNER************ */
#end-banner1{
    height: 120px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: #52a44a;    
}
.h-primary1{
    font-size: 2rem;
    color: #ffffff;
    padding-left: 12vw;
}
/* ************FOOTER SECTION*************** */
footer{
    padding: 25px 12vw;
    background-color: rgb(239, 239, 239);
}
/* utility classes */
.h-primary{
    font-size: 2rem;
    color: #006e80;
}
.h-secondary{
    font-size: 1.5rem;
    color: green;
}
.h-secondary2{
    font-size: 15px;    
    font-weight: 300;
    padding-bottom: 40px;
}
.center{
    text-align: center;
}
.padding{
    padding-left: 9vw;
    padding-right: 9vw;
}
